DATABASE_URL=
PORT=5000
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=rzp_test_TkBIk7tXuVIflp
RAZORPAY_KEY_SECRET=y931lAqhdOSmjwiJ4x8kzMAr